<%- include('partials/header'); -%>
    <div class="home">
        <h2>Click the button to view protected data</h2>
        <a href="/protected"> Click me </a>
    </div>


    <%- include('partials/footer'); -%>