<%- include('partials/header'); -%>


    <div class="protected">
        <h1>This is protected route</h1>
        <img src="spiderman.gif" alt="">
    </div>




    <%- include('partials/footer'); -%>