@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


body {
    background-color: rgb(199, 141, 65);
    font-family: 'Poppins' ,sans-serif;
}

h2 {
    color: #a01b1b;
}

input{
   padding: 5px; 
}